spring:
  datasource:
    url: jdbc:mysql://localhost:3306/argu_db_dev?useUnicode=true&characterEncoding=utf8&useSSL=false&serverTimezone=Asia/Seoul
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true

logging:
  level:
    root: INFO
    com.argu: DEBUG


